@CHARSET "UTF-8";
/* CSS Document */
.index{
	margin: 0;
	padding: 0;
	width: 100%;
}
.group{
	margin: 0;
	margin-top:5px;
	padding: 0;
	width: 100%;
	margin-bottom: 5px;
}
.left-ul{
	width: 100%;
}

.public{
	width:100%;
	
}
.content{
	color:black;
}
#publish{
	margin-top: 5px;
}
#info{
	margin-top: 0px;
	width: 100%;
	color: black;
}
.user-avatar{
	width:80px;
	height: 80px;

	
}